
.my-main-menu .icons-for-mobile-view{
display:none !important;
}



.my-main-menu{
    background: #008B8B !important;
   
      
}
.my-main-menu  a{
    color:white !important;
    font-size:14px !important;
    
}

.my-main-menu  a:hover{
    background:#4eeeee !important;
    color:#008 !important;

}
.my-main-menu .inner-a{
    color:#008B8B !important;
}

.my-main-menu ul>li:hover{
    background:#4eeeee !important;
    color:#008 !important;
}

 .my-main-menu .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    color:white;
    margin-left:1px;
    margin-bottom: 1px;
  }
  .my-main-menu i {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    
  }

  @media only screen and (min-width: 768px) {
    .container-changes{
        width:100%!important;
        padding-left:100px!important;
        padding-right: 0px !important;
        
    }
    .navbar-changes{
        
    }
    .my-main-menu ul>li{
    padding:0px 5px !important;
    }
    .my-main-menu ul{
        padding-top:10px !important;
        padding-left:10px !important;
        }

        .my-main-menu  a:hover{
            font-size:15px !important;
        }

  }

@media only screen and (max-width: 768px) {
    .toggle-button-changes{
        float: left; 
        margin-left:30px;
        margin-top:20px !important;
    }
    .toggle-logo-changes{
        margin-left:40px;
        
    }
    .my-main-menu ul>li{
        padding:0px 0px !important;
        }
    /* For mobile phones: */
    .my-main-menu  a{
        font-size:20px !important;
        padding:20px 10px !important;
    }
    .my-main-menu  a:hover{
        font-size:25px !important;
        
    }
    
    .my-main-menu .inner-a{
        color:#008080 !important;
        background: white !important; 
        padding-left:30px !important;
    }

    .ateliers{
     
        padding: 10px !important;
        width: 100% !important;
        padding:0 !important;
        margin:0 !important;
        padding:10px !important;
    }
    .my-main-menu .icons-for-mobile-view{
        display:inline !important;
        color:white !important;
        padding-right:5px !important;
        }
        .my-main-menu .inner-a i{
            display:inline !important;
        color:#008080 !important;
        padding-right:5px !important;
        }
  }